setuptools==58.2.0
rasa==3.5.10
cryptography==41.0.3
pyopenssl==23.2.0
pyjwt==2.4.0
pymongo==3.10.1
pydantic<1.10.3
pyyaml>=6.0
python-dateutil>=2.8,<2.9
pytz>=2019.1,<2023.0
tzdata>=2024.1
packaging<21.0
Flask==2.0.1
werkzeug==2.0.1
requests==2.26.0
gunicorn==20.1.0
python-dotenv==1.0.0

